body{
    min-height: 100vh;
    background-color: azure;
}
span{
    display: inline-flex;
    color: azure;
    font-size: 2rem;
    margin-inline-start: 2.5rem;
}
.menu-navegacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background-color: rgb(96, 1, 180);
}
.menu-navegacao>ul{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    /* gap: 1rem; */
    margin-inline-end:20px;

}
.menu-navegacao li {
    height: 100%;
}
.menu-navegacao a{
    display: inline-flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    color: antiquewhite;
    padding: 0 1rem;
}

.menu-navegacao a:hover{
    background-color: azure;
    color: rebeccapurple;
    transition-duration: 300ms;
    cursor: pointer;
}
.breadcrumbs{
    height: 50px;
}
.breadcrumbs>ul{
    height: 100%;
    display: flex;
   
}
.breadcrumbs li{
    display: inline-flex;
    align-items: center;
    height: 100%;
}
.breadcrumbs a{
    display:inline-flex;
    align-items: center;
    padding: 0 1rem;
    text-decoration: none;
}

.breadcrumbs li:not(:last-child)::after{
    content: ">";
}
.breadcrumbs li:not(:last-child)>a{
    color: rgb(143, 143, 143);
}
.breadcrumbs li:last-child>a{
    background-color: rgb(96, 1, 180);
    color: azure;
    padding: 8px;
    border-radius: 16px;
    margin-inline-start: 8px;
}
.breadcrumbs a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.breadcrumbs li:last-child>a:hover{
    text-decoration: none;
    cursor: default;
}
